<div class="max-w-md mx-auto"> 
  <%= form_tag funds_path, method: :get do %>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <% if params[:ticker_only] %>
        <%= check_box_tag :ticker_only, 1, true %>
      <% else %>
        <%= check_box_tag(:ticker_only) %>
      <% end %>
      <%= label_tag(:ticker_only, "Search Tickers Only") %>
      <%= text_field_tag 'query', params[:query], placeholder: "Enter fund name or ticker", id: "default-search", class: "block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" %>
      <%= submit_tag 'Search', class: "text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2" %>
    </div>
  <% end %>
</div>

<% if !@funds.nil? %>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Reporting Fund Ref</th>
        <th>Parent Fund</th>
        <th>HMRC Share Class Ref No.</th>
        <th>Sub Fund Name</th>
        <th>ISIN No.</th>
        <th>CUSIP No.</th>
        <th>Reporting From</th>
        <th>Ceased Reporting From</th>
      </tr>
    </thead>
    <tbody>
      <% @funds.each do |fund| %>
        <tr>
          <td><%= fund.ticker %></td>
          <td><%= fund.reporting_fund_ref %></td>
          <td><%= fund.parent_fund %></td>
          <td><%= fund.hmrc_share_class_ref_no %></td>
          <td><%= fund.sub_fund_name %></td>
          <td><%= fund.isin_no %></td>
          <td><%= fund.cusip_no %></td>
          <td><%= fund.reporting_from %></td>
          <td><%= fund.ceased_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>